if type nvim > /dev/null 2>&1; then
  alias vim='nvim'
fi
alias nvim='nvim --listen /tmp/mynvimserver'

alias ca='conda activate'
alias cda='conda deactivate'

alias jn='jupyter notebook'

alias vimconfig="vim ~/.vimrc"
alias zshconfig="vim ~/.zshrc"
alias zshthemeconfig="vim ~/.oh-my-zsh/themes/theo.zsh-theme"

alias ls='ls --color=auto'
alias ll='ls -lh'
alias la='ls -lah'

alias gs='git status'
